
body {
    max-width: 100%;
    overflow-x: hidden;
	background-image: url("images/act-2-world-layer-base.jpg");
	background-size: 100%;
	/*background-color:#FFFFFF;*/
	overflow-x: scroll;
}

.title{
    padding:0px;
	background-image: url("images/titlebanner.png");
	height:64px;
	text-align: center;	
	position:relative;
	bottom: 22px;
}

#wrapper{
	margin-left:auto;
    margin-right:auto;
    width:1000px;
	background-color: #E5FFEE;
	border-style: solid;
	border-color: black;
}

h1{
	color:#E5FFEE;
    padding:0px;
	text-align: left; 
	position: relative;
	top: 10px;

}

h2{
	color:black;
	padding: 0px;
	text-align: center;
}

.search{
	margin:15px;
	text-align: center;
	left: 740px;
	font-size: 25px;
	color: black;
}

.bar{
	text-align: center;
	left: 780px;
	font-size: 25px;
}

#searchbar{
	margin: 50px;
}

#test{
	color:black;
}

th, td {
    padding: 25px;
}

#sectionone{
	
}

#statstable{
	margin-left: 50px;
	border-spacing:5px;
	color: black;
}

.icon{
	position: relative;
	left: 50px;
	top: 120px;
}

#abilitytable{
	margin-left: 175px;
}

#passive, #abilityone, #abilitytwo, #abilitythree, #abilityfour{
	border-style: solid;
	border-color: black;
}

#abilitytext{
	text-align: center;
}

#runetable{
	margin-right: 0px;
}

#runecells{
	white-space: nowrap;
	text-align: right;
}
	
