
body {
    max-width: 100%;
    overflow-x: hidden;
	background-image: url("images/act-2-world-layer-base.jpg");
	background-size: 100%;
	/*background-color:#FFFFFF;*/
	overflow-x: scroll;
}

.title{
    padding:0px;
	background-image: url("images/titlebanner.png");
	height:74px;
	text-align: center;	
	position:relative;
	bottom: 22px;
	border-bottom: solid #20603f;
}

#wrapper{
	position: relative;
	margin-left:auto;
    margin-right:auto;
    width:1000px;
	background-color: #E5FFEE;
	border-style: solid;
	border-color: black;
	font-family: "verdana"
}

#icon{
	position: relative;
	bottom: 55px;
	left: 25px;
}

h1{
	color:#E5FFEE;
    padding:0px;
	text-align: center; 
	position: relative;
	top: 10px;
	text-shadow: 4px #20603f;
	text-shadow: 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f;
}

h2{
	color: #E5FFEE;
	padding: 0px;
	text-align: center;

}

.search{
	margin:15px;
	text-align: center;
	left: 740px;
	font-size: 25px;
	color: black;
}

.bar{
	text-align: center;
	left: 780px;
	font-size: 25px;
}

#searchbar{
	margin: 50px;
}

#test{
	color:black;
}

th, td {
    padding: 25px;
}

#sectionone{
	
}

#statstable{
	text-align: right;
	margin-left: 50px;
	border-spacing:5px;
	color: black;
}

.icon{
	position: relative;
	left: 50px;
	top: 120px;
}

#abilitytable{
	margin-left: 200px;
}

#passive, #abilityone, #abilitytwo, #abilitythree, #abilityfour{
	border-style: solid;
	border-color: black;
}

#abilitytext{
	text-align: center;
}

#runetable{
	margin-right: 0px;
	font-size: 13px;
}

#runecells{
	white-space: nowrap;
	text-align: right;
}

#gametable{
	white-space: nowrap;
	margin-left: 0px;
}

.gamedetails{
	padding:10px;
	list-style-type: none;
	float: left;
	text-align: right;
}

.gameinputs{
	padding:10px;
	list-style-type: none;
	float: left;
	text-align: left;
}

.gameinputsnot{
	padding:10px;
	list-style-type: none;
	text-align: left;
}

li {
	padding:10px;
}

.filterlist{
	position: relative;
	bottom: 764px;
}

.filter{
	position:relative;
	list-style-type: none;
}	

#gold{
	text-align:center;
	position:relative;
	bottom: 500px;
	right: 50px;
}

#inventory{
	text-align: right;
	position: relative;
	bottom: 630px;
	padding: 10px;
}

#shopicons{
	position: relative;
	top: 175px;
	left: 250px;
	width: 71%;
	padding: 10px;
	border: solid;
	border-color: black;
}

.section_headers{
	border-top: solid #20603f;
	border-bottom: solid #20603f;
	background-color: #00e673;
	width:1000px;
	text-shadow: 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f, 0 0 4px #20603f;
}	


